In [4]:
%matplotlib notebook

In [5]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
# Load in csv
rain_df = pd.read_csv("Resources/avg_rain_state.csv")
rain_df.head()

        State  Inches  Milli­metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [ ]:
# Set x axis and tick locations

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space

In [ ]:
# Set x and y limits

In [ ]:
# Set a Title and labels

In [ ]:
# Save our graph and show the grap